/**
* El Banner es la foto compuesta de carátulas
*/
.banner {
    /* es un 25% de toda la pantalla independientemente de varíe*/
    height: 20vh;          /* defino donde irá la foto de fondo */
    text-align: center;
    position: relative;    /* va unido al position: absolute; de la
                              image, para que esté dentro del banner*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("media/paisaje/paisaje_775.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; 
    z-index: 0;
}