/***
 * :root {} para establecer variables personalizadas  */
 :root {
    --main-bg-color: #FF00FF;
    --main-text-color: black;
    --main-brand-color: darkblue;                      /*para los botones*/
    --main-brand-color-light: rgb(227, 130, 130); /*para cuanto pasemor por encima del botón*/
    font-family: sans-serif;                        /* utilizará estas */
}


/*  <body> */
.main-bg {
    background-color: var(--main-text-color); /* Establece el color de fondo */
    color: white; /* Establece el color del texto */
    opacity: 1; /* Establece la opacidad al 100% */
    max-width: 1800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */ /*OJITO CON AUTO*/
    
    position: center;
    top: 0;            /*ajusto body a la pantalla relativa*/
    left: 0;           /*ajusto body a la pantalla relativa*/
    width: 100%;       /* Ancho del contenedor */
    height: 100%;      /* Altura del contenedor */
    justify-content: center;
    align-items: normal; /* redimensiona verticalmente en 4k */


    /* Configuración de grid */
    display: grid; 
    grid-template-columns: 1fr; /* Una columna en la cuadrícula */
    grid-template-rows: auto auto auto auto; /* Tamaño automático para 4 filas */
    gap: 5px; /* Espacio de 5px entre celdas */
    grid-template-areas: 
        "header" 
        "habilidades"
        "banner"
        "card"
        "footer"; 
}

/* áreas grid */
.habilidades { grid-area: habilidades; }
.banner { grid-area: banner; }
.card { grid-area: card; }
.footer { grid-area: footer; }


