/***
 * :root {} para establecer variables personalizadas  */
 :root {
    --main-bg-color: #FF00FF;
    --main-text-color: black;
    --main-brand-color: darkblue;                      /*para los botones*/
    --main-brand-color-light: rgb(227, 130, 130); /*para cuanto pasemor por encima del botón*/
    font-family: sans-serif;                        /* utilizará estas */
}


/*  <body> */
.main-bg {
    background-color: var(--main-text-color); 
    color: white; 
    margin: 0;      
    opacity: 1;
    position: fixed;
    top: 0;            /*ajusto body a la pantalla relativa*/
    left: 0;           /*ajusto body a la pantalla relativa*/
    width: 100%;       /*ajusto body a la pantalla relativa*/
    height: 100%;      /*ajusto body a la pantalla relativa*/
    justify-content: center;
    align-items: self-end;


    /* Configuración de grid */
    display: grid;
    grid-template-columns: 1fr;  /* El contenido se distribuye en una sola columna */
    grid-template-rows: auto auto auto auto;  /* La altura de cada fila se determinará automáticamente por su contenido */
    gap: 5px;
    grid-template-areas: 
    "header" 
    "habilidades"
    "banner"
    "card"
    "footer";
}

/* Asegúrate de definir las áreas de tu grid en tus otros elementos */
.habilidades { grid-area: habilidades; }
.banner { grid-area: banner; }
.card { grid-area: card; }
.footer { grid-area: footer; }





