

.card {
    max-width: 1800px;
    width: 100%;
    margin: auto;
}

form {
    width: 100%;
}

.form__row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 1px;
}

.form__element {
    flex: 1;
    margin: 0em;
    margin-bottom: 0em;
    
}

.form__label {
    display: block;
    text-align: left; /* Alinea el texto a la derecha */
}

/* campos de entrada reescalen */
.form__input {
    width: 100%;
}

/* Cómo me conociste */
fieldset label {
    display: block;
}
