
.form__row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.form__element {
    flex: 1;
    margin: 0.5em;
    
}

.form__label {
    display: block;
    text-align: left; /* Alinea el texto a la derecha */
}

.card {
    max-width: 800px;
    width: 80%;
    margin: auto;
}

fieldset label {
    display: block;
}

form {
    width: 100%;
}

