
.footer {
    background-color: var(--main-bg-color);
    text-align: center;           /* alinear textos horizontalmente */

    justify-content: center;
    align-items: flex-end;
}

.footer
.footer__media {
    justify-content: center;
    align-items: flex-end;
}