
.info {
    max-width: 800px;
    width: 90%;
    max-width: 0 auto;

    position: relative;
    
}

.info 
.info__text 
img {
    justify-content: center;
    align-items: flex-start;
    top: 0;            /*ajusto body a la pantalla relativa*/
    left: 0;           /*ajusto body a la pantalla relativa*/
    width: 100%;       /*ajusto body a la pantalla relativa*/
    height: 100%;      /*ajusto body a la pantalla relativa*/
}



.info 
.info__video
img {
    position: relative;
    display: flex;
    justify-content: center; 
}